/* header */
header.header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

header.header .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  height: 100%;
}

header.header .container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

main {
  padding-top: 120px;
}
.menu_wrap {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu {
  margin: 0 24px 0 41px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: #ECECEC;
  border-radius: 4px;
  position: relative;
  transition: 0.4s;
}
.menu span {
  background: #212121;
  border-radius: 36px;
  height: 2px;
  position: absolute;
  right: 15px;
  pointer-events: none;
}
.menu span:first-child {
  top: 17px;
  width: 24px;
}
.menu span:nth-child(2) {
  top: 28px;
  width: 30px;
}
.menu span:last-child {
  bottom: 18px;
  width: 18px;
}

.nav {
  transition: 0.4s;
  background-color: #fff;
  padding: 35px 0 77px;
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  z-index: 11;
}
.nav.active {
  display: block;
}
@media (min-width: 1440px) {
    .menu_wrap:hover .nav{
      opacity: 1;
      pointer-events:all;
    }
    .menu_wrap:hover .menu{
        background: #d2d1d1;
    }
}
@media (max-width: 1440px) {
    .nav.active {
        opacity: 1;
        pointer-events:all;
    }
    .nav {
        opacity: 0;
        pointer-events: none; 
    }
}

.nav div.container {
  max-width: 1400px;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav ul {
  list-style: none;
}
.nav li + li {
  margin-top: 15px;
}
.nav a {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.nav a:hover {
  text-decoration: underline;
}

.language,
.country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.language span {
  text-transform: uppercase;
}

.language span,
.country span {
  margin-right: 6px;
  color: #212121;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.language_content {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(52, 52, 52, 0.3333333333);
  display: flex;
  transition: 0.4s;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
}
.language_content.active {
  
  pointer-events: all;
  opacity: 1;
}

.language_inner {
  max-width: 1400px;
  width: 100%;
  padding: 62px 79px 88px 62px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.language_inner h2 {
  text-align: left;
}

.language_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.language_items a {
  width: 135px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FAFAFA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}
.language_items {
  list-style: none;
}
.language_items li + li {
  margin-left: 20px;
}
.language_items li.current-lang a {
  background-color: #F25E57;
  color: #fff;
}

.language_close {
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 31px;
}

.country {
  margin: 0 30px;
}
.country_content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(52, 52, 52, 0.3333333333);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    pointer-events: none;
    opacity: 0;
}
.country_content.active {
    opacity: 1;
    pointer-events: all;
    overflow-y: scroll;
}
.country_inner {
    position: relative;
    margin: 40px 0;
}
.country_inner img {
    right: 20px;
    top: 20px;
}
.country_content ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #ffff;
    padding: 30px;
    border-radius: 20px;
}


.header_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 15px;
}

.header_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header_category span {
  color: #212121;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}
.header_category {
  /* width: min-content; */
  width: 110px;
  /* height: 82px; */
  transition: 0.4s;
  border-radius: 10px;
  padding: 5px;
}
.header_category:hover {
  background: rgba(0,0,0,.08);
}

.header_category img {
  margin-bottom: 8px;
}

.header_category + .header_category {
  /* margin-left: 10px; */
}

.header_button-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 20px;
}
.header_button-tel > a > img {
  display: none;
}

.header_button-tel > a {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-right: 15px;
}

.header_button-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_button-links a img {
  width: 18px;
}
.header_button-links a + a {
  margin-left: 11px;
}

.header_button-partner {
  background: #25B2B4;
  border-radius: 4px;
  width: 180px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: 0.4s;
}
.header_button-partner:hover {
  background: #20989b;
}
.header_button-partner span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.header_button-partner img {
  margin-right: 13px;
}

.header_user {
  width: 60px;
  height: 60px;
  background: #ECECEC;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 17px;
  transition: 0.4s;
}


.header_user:hover {
  background: #d2d1d1;
}